@charset "utf-8";

@import "./assets/sass/_destyle.scss";
@import "./assets/sass/_variables.scss";
@import "./assets/sass/_mixin.scss";

html {
    font-size: 100%;
}

body {
    color: $black;
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    letter-spacing: 2px;

    @include mq(md) {
        font-size: 1.0rem;
    }

    @include mq(sm) {
        font-size: 0.9rem;
    }
}

.App {
    min-height: 100vh;
    background-image: url("assets/images/background.png");
    background-repeat: repeat;
}

main {
    margin: 0 auto;
    padding: 0 4%;
}
