@charset "utf-8";

// color.
//$base-color: #282c34;
//$main-color: #61dafb;
//$accent-color: #fb8261;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$gray: #030303;
$light-gray: #d3d3d3
